<h1>Do u wanna ask something kiddo?</h1>
<hr>
<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Write your question here">
  <input type="submit" value="Go on!">
</form>
<hr>
